---
---

@charset "utf-8";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
